Just a reminder:
RCFD2107: Obligations (other than securities and leases) of states and political subdivisions in the
U.S (Consolidated Bank). Dollar amounts in thousands.
RCON2107: Obligations (other than securities and leases) of states and political subdivisions in the
U.S (Domestic Offices). Dollar amounts in thousands.

In [ ]:
import pandas as pd
import numpy as np
import zipfile
import io
import os
import gc

directory = os.fsencode('data')
muni_banks_table = pd.DataFrame()
quarter = {'0331': 'Q1', '0630': 'Q2', '0930': 'Q3', '1231': 'Q4'}

for file in os.listdir(directory):
    # prep the zipfiles to open
    filename = os.fsdecode(file)
    zipf = zipfile.ZipFile('data/'+filename)
    
    # find some designation to find the right file:
    words = filename.split()
    call_report_date = words[-1].replace('.zip', '')
    
    # find the bank designation
    bank_filename = 'FFIEC CDR Call Bulk POR {}.txt'.format(call_report_date)
    bank_file = pd.read_csv(zipf.open(bank_filename), sep='\t').set_index('IDRSSD')

    # grab the call schedule
    securities_filename = 'FFIEC CDR Call Schedule RCCI {}.txt'.format(call_report_date)
    securities_file = pd.read_csv(zipf.open(securities_filename), sep='\t', header=[0], skiprows=[1]).set_index('IDRSSD')

    # just suss out the muni data
    muni_loans = securities_file['RCFD2107'].dropna().to_frame()
    muni_loans['CallDate'] = call_report_date[-4:]+quarter[call_report_date[0:4]]
    
    # merge the tables together, append to dataframe
    muni_bank = pd.merge(muni_loans, bank_file, how='left', left_index=True, right_index=True)
    if muni_banks_table.empty:
        muni_banks_table = muni_bank
    else:
        muni_banks_table = pd.concat([muni_banks_table, muni_bank])
        
    # garbage clean up
    del [[bank_file, securities_file, muni_loans, muni_bank]]
    gc.collect()
    bank_file = pd.DataFrame()
    securities_file = pd.DataFrame()
    muni_loans = pd.DataFrame()
    muni_bank = pd.DataFrame()

In [ ]:
# let's look at the sums
muni_banks_table[muni_banks_table['RCFD2107'] != 0]
muni_total = muni_banks_table.groupby(['CallDate', 'Financial Institution Name'])['RCFD2107'].sum().unstack(level=-2).fillna(0)
temp = muni_total.transpose()
temp['ALL BANKS'] = temp.sum(axis=1)
muni_total = temp.transpose()
muni_total = muni_total/1000
muni_total['sum'] = muni_total.sum(axis=1)
muni_total = muni_total[muni_total['sum'] != 0]
muni_total.drop('sum', axis=1, inplace=True)

total_only = muni_total[muni_total.index=='ALL BANKS'].copy().transpose()
# let's drop the total for now DELETE THIS LINE IF YOU WANT TO KEEP IT
muni_total = muni_total.drop('ALL BANKS', axis=0)

Then taking all that work and converting it into an easy to read csv for heroku to fly with.

In [ ]:
muni_total.to_csv('munidata.csv')
total_only.to_csv('munitotal.csv')

In [3]:
muni_total

CallDate,2001Q1,2001Q2,2001Q3,2001Q4,2002Q1,2002Q2,2002Q3,2002Q4,2003Q1,2003Q2,...,2017Q1,2017Q2,2017Q3,2017Q4,2018Q1,2018Q2,2018Q3,2018Q4,2019Q1,2019Q2
Financial Institution Name,,,,,,,,,,,,,,,,,,,,,
1ST FINANCIAL BANK USA,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,...,0.487,0.394,0.366,0.366,0.336,0.301,0.259,0.000,0.000,0.000
ALLFIRST BANK,149.013,131.908,132.427,183.958,149.131,108.758,94.130,81.253,86.016,0.000,...,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000
ALLY BANK,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,...,0.000,0.000,0.000,0.000,0.000,46.000,64.000,67.000,68.000,79.000
AMALGAMATED BANK,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,...,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000
"AMEGY BANK, NATIONAL ASSOCIATION",0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,...,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000
AMERICAN EXPRESS CENTURION BANK,0.012,0.016,0.012,0.011,0.021,0.022,0.016,0.013,0.017,0.014,...,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000
AMERICAN NATIONAL BANK AND TRUST COMPANY OF CHICAGO,147.942,144.968,131.878,140.272,0.000,0.000,0.000,0.000,0.000,0.000,...,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000
AMSOUTH BANK,116.404,106.037,120.367,123.661,119.420,112.245,123.335,78.360,70.434,62.848,...,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000
ARVEST BANK,0.060,0.060,0.060,0.045,0.045,8.343,7.971,10.075,10.890,11.025,...,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000
"ASSOCIATED BANK, NATIONAL ASSOCIATION",0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,...,227.011,246.389,214.046,215.026,201.795,188.667,184.366,159.730,144.758,151.765
BANCO POPULAR DE PUERTO RICO,233.000,243.000,230.000,379.000,371.000,367.000,391.000,400.000,417.000,408.000,...,195.000,194.000,198.000,196.000,194.000,193.000,178.000,178.000,177.000,177.000
BANCO POPULAR NORTH AMERICA,8.884,9.731,12.338,11.666,11.293,14.581,13.786,13.559,7.342,8.872,...,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000
"BANCO POPULAR, NATIONAL ASSOCIATION",0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,...,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000
BANCO SANTANDER PUERTO RICO,39.913,39.900,21.000,31.502,21.049,21.052,21.010,21.000,21.165,21.009,...,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000
BANCORPSOUTH BANK,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,...,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000
"BANK CALUMET, NATIONAL ASSOCIATION",0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,...,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000
"BANK OF AMERICA, NATIONAL ASSOCIATION",3772.000,3606.000,4037.000,3875.000,2427.000,2267.000,2278.000,2476.000,2834.000,3254.000,...,19411.000,19165.000,19358.000,19710.000,19806.000,18994.000,18882.000,21050.000,20346.000,20611.000
BANK OF GUAM,14.100,11.885,16.982,0.000,0.000,0.000,10.000,10.000,20.000,17.500,...,29.263,28.364,27.156,25.931,24.688,23.442,15.112,14.128,13.137,12.137
BANK OF HAWAII,13.500,13.500,13.500,0.000,0.000,0.000,0.000,0.000,0.000,0.000,...,10.196,10.196,9.815,9.135,9.135,8.731,7.953,7.517,7.113,6.710
"BANK OF NEW YORK MELLON, THE",0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,...,64.000,186.000,95.000,89.000,496.000,106.000,115.000,173.000,109.000,121.000
"BANK OF NEW YORK, THE",0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,...,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000
"BANK OF OKLAHOMA, NATIONAL ASSOCIATION",0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,17.833,...,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000
BANK OF THE WEST,0.000,0.000,0.000,0.000,0.000,23.948,28.737,31.337,23.088,28.272,...,139.112,136.653,211.308,184.012,182.263,187.742,153.106,149.014,151.763,154.882
BANK OF TOKYO-MITSUBISHI TRUST COMPANY,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,...,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000
BANK OF TOKYO-MITSUBISHI UFJ TRUST COMPANY,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,...,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000
"BANK ONE, INDIANA, NATIONAL ASSOCIATION",23.118,25.111,17.585,29.367,17.195,16.222,0.000,0.000,0.000,0.000,...,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000
"BANK ONE, NATIONAL ASSOCIATION",302.800,316.025,306.843,404.064,436.000,458.000,629.000,661.000,657.000,649.000,...,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000
BMO HARRIS BANK NATIONAL ASSOCIATION,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,...,1901.920,2071.778,2231.557,2620.572,2607.232,2578.387,2551.515,2637.368,2582.858,2589.932
"BNY MELLON, NATIONAL ASSOCIATION",0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,...,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000
"BOKF, NATIONAL ASSOCIATION",0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,...,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
TCF NATIONAL BANK,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,...,235.621,255.125,279.404,245.326,359.096,362.284,354.836,356.173,357.116,338.693
"TD BANK, N.A.",0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,...,0.000,0.000,0.000,0.000,14929.816,14488.088,14421.547,14469.528,14458.168,14726.893
"TD BANKNORTH, NATIONAL ASSOCIATION",0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,...,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000
TRUSTMARK NATIONAL BANK,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,...,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000
U.S. BANK NATIONAL ASSOCIATION,964.898,973.536,1436.737,1302.937,1287.519,1412.770,1628.693,1427.320,1508.744,1601.330,...,12306.237,12156.150,12173.489,12383.267,12136.023,11857.838,11475.295,10854.490,10580.191,10213.002
U.S. CENTURY BANK,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,...,0.508,0.444,0.379,0.314,0.248,0.181,0.113,0.045,0.000,0.000
UNION BANK AND TRUST COMPANY OF INDIANA,1.602,1.624,1.555,1.524,1.424,1.418,1.418,0.000,0.000,0.000,...,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000
"UNION BANK OF CALIFORNIA, NATIONAL ASSOCIATION",22.561,26.619,25.686,23.712,25.443,17.725,18.544,12.990,9.820,18.382,...,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000
"UNION BANK, NATIONAL ASSOCIATION",0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,...,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000
"UNION PLANTERS BANK, NATIONAL ASSOCIATION",174.733,160.781,159.857,148.704,147.100,154.837,151.641,142.216,156.227,172.050,...,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000
UNITED CALIFORNIA BANK,0.000,0.000,23.389,20.264,21.184,0.000,0.000,0.000,0.000,0.000,...,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000
UNITED COMMUNITY BANK,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,...,0.000,0.000,0.000,0.000,0.000,0.000,27.328,27.038,26.102,25.776
VALLEY NATIONAL BANK,13.316,10.127,9.895,9.217,8.904,8.627,8.427,8.206,0.000,0.000,...,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000
"VECTRA BANK COLORADO, NATIONAL ASSOCIATION",0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,...,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000
"WACHOVIA BANK, NATIONAL ASSOCIATION",360.929,358.983,376.199,362.202,355.908,2001.000,1979.000,1878.000,1909.000,1925.000,...,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000
WASHINGTON MUTUAL BANK,0.000,0.000,0.000,0.000,14.000,13.000,13.000,12.000,12.000,10.000,...,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000
"WEBSTER BANK, NATIONAL ASSOCIATION",0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,...,148.434,156.355,215.764,240.630,283.038,266.517,210.639,215.584,184.591,210.899
"WELLS FARGO BANK ARIZONA, NATIONAL ASSOCIATION",13.749,16.671,19.191,15.718,0.000,0.000,0.000,0.000,0.000,0.000,...,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000
"WELLS FARGO BANK MINNESOTA, NATIONAL ASSOCIATION",22.393,25.015,23.732,22.218,25.453,27.345,28.989,28.443,28.993,32.061,...,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000
"WELLS FARGO BANK NEVADA, NATIONAL ASSOCIATION",0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,2.925,...,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000
"WELLS FARGO BANK NEW MEXICO, NATIONAL ASSOCIATION",5.180,4.471,4.765,3.279,0.000,0.000,0.000,0.000,0.000,0.000,...,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000
"WELLS FARGO BANK NORTHWEST, NATIONAL ASSOCIATION",0.000,5.098,1.422,1.299,1.501,1.713,2.345,7.018,6.501,7.431,...,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000
"WELLS FARGO BANK TEXAS, NATIONAL ASSOCIATION",36.649,34.715,34.251,32.353,0.000,0.000,0.000,0.000,0.000,0.000,...,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000
"WELLS FARGO BANK WEST, NATIONAL ASSOCIATION",31.210,29.837,21.589,19.759,24.390,22.704,22.757,21.554,20.841,20.297,...,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000
"WELLS FARGO BANK, NATIONAL ASSOCIATION",131.000,122.000,147.000,134.000,134.000,127.000,170.000,167.000,241.000,192.000,...,17622.000,18194.000,18393.000,19172.000,19090.000,18903.000,19242.000,18579.000,18775.000,18961.000
WHITNEY BANK,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,...,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000
WHITNEY NATIONAL BANK,46.471,53.428,49.707,46.138,46.418,48.771,40.322,37.159,31.668,23.837,...,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000
WILMINGTON TRUST COMPANY,120.768,129.981,110.097,101.470,99.429,95.114,69.145,65.311,62.653,52.787,...,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000
"ZB, NATIONAL ASSOCIATION",0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,...,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000
ZIONS FIRST NATIONAL BANK,144.773,189.157,177.844,191.063,176.382,170.096,186.677,205.867,196.225,201.334,...,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000